body {
    text-align: center;
    font-size: 20px;
    font-style: oblique;
}
header {
    background-color: aquamarine;
}
img {
    margin-top: 10px;
    width: 200px;
}
ul  {    
list-style-type: none;
background-color: coral;
border-radius: 40%;
}

footer {
    background-color: mediumaquamarine;
}
